DoubleCheck/x64/Debug/glew32.dll
DoubleCheck/x64/Debug/fmodL64.dll
DoubleCheck/x64/Debug/fmodL.dll
DoubleCheck/x64/Debug/fmod64.dll
DoubleCheck/x64/Debug/fmod.dll
DoubleCheck/x64/Debug/Math_lib.pdb
DoubleCheck/x64/Debug/Math_lib.lib
DoubleCheck/x64/Debug/Engine.pdb
DoubleCheck/x64/Debug/Engine.lib
DoubleCheck/x64/Debug/DoubleCheck.pdb
DoubleCheck/x64/Debug/DoubleCheck.ilk
DoubleCheck/x64/Debug/DoubleCheck.exe
DoubleCheck/external/glfw/lib/x86/glfw3dll.lib
DoubleCheck/external/glfw/lib/x86/glfw3.lib
DoubleCheck/external/glfw/lib/x64/glfw3dll.lib
DoubleCheck/external/glfw/lib/x64/glfw3.lib
DoubleCheck/external/glew/lib/x86/glew32s.lib
DoubleCheck/external/glew/lib/x86/glew32.lib
DoubleCheck/external/glew/lib/x64/glew32s.lib
DoubleCheck/external/glew/lib/x64/glew32.lib
DoubleCheck/Math_lib/x64/Debug/vector3.obj
DoubleCheck/Math_lib/x64/Debug/vector2.obj
DoubleCheck/Math_lib/x64/Debug/matrix3.obj
DoubleCheck/Math_lib/x64/Debug/Math_lib.tlog/Math_lib.lastbuildstate
DoubleCheck/Math_lib/x64/Debug/Math_lib.tlog/Lib.command.1.tlog
DoubleCheck/Math_lib/x64/Debug/Math_lib.tlog/Lib-link.write.1.tlog
DoubleCheck/Math_lib/x64/Debug/Math_lib.tlog/Lib-link.read.1.tlog
DoubleCheck/Math_lib/x64/Debug/Math_lib.tlog/CL.write.1.tlog
DoubleCheck/Math_lib/x64/Debug/Math_lib.tlog/CL.read.1.tlog
DoubleCheck/Math_lib/x64/Debug/Math_lib.tlog/CL.command.1.tlog
DoubleCheck/Math_lib/x64/Debug/Math_lib.pdb
DoubleCheck/Math_lib/x64/Debug/Math_lib.log
DoubleCheck/Math_lib/x64/Debug/Math_lib.idb
DoubleCheck/Math_lib/Math_lib.vcxproj.user
DoubleCheck/Engine/x64/Debug/imgui_widgets.obj
DoubleCheck/Engine/x64/Debug/imgui_impl_opengl3.obj
DoubleCheck/Engine/x64/Debug/imgui_impl_glfw.obj
DoubleCheck/Engine/x64/Debug/imgui_draw.obj
DoubleCheck/Engine/x64/Debug/imgui_demo.obj
DoubleCheck/Engine/x64/Debug/imgui.obj
DoubleCheck/Engine/x64/Debug/View.obj
DoubleCheck/Engine/x64/Debug/Vertices.obj
DoubleCheck/Engine/x64/Debug/VertexLayoutDescription.obj
DoubleCheck/Engine/x64/Debug/Transform.obj
DoubleCheck/Engine/x64/Debug/Texture.obj
DoubleCheck/Engine/x64/Debug/Text.obj
DoubleCheck/Engine/x64/Debug/StateManager.obj
DoubleCheck/Engine/x64/Debug/Sound_Manager.obj
DoubleCheck/Engine/x64/Debug/Shader.obj
DoubleCheck/Engine/x64/Debug/ResourceManager.obj
DoubleCheck/Engine/x64/Debug/Referee.obj
DoubleCheck/Engine/x64/Debug/Physics.obj
DoubleCheck/Engine/x64/Debug/Object_Component_Info.obj
DoubleCheck/Engine/x64/Debug/ObjectManager.obj
DoubleCheck/Engine/x64/Debug/Object.obj
DoubleCheck/Engine/x64/Debug/Message_Mananger.obj
DoubleCheck/Engine/x64/Debug/Message.obj
DoubleCheck/Engine/x64/Debug/Mesh.obj
DoubleCheck/Engine/x64/Debug/Input.obj
DoubleCheck/Engine/x64/Debug/Image.obj
DoubleCheck/Engine/x64/Debug/Graphic.obj
DoubleCheck/Engine/x64/Debug/GL.obj
DoubleCheck/Engine/x64/Debug/FileManager.obj
DoubleCheck/Engine/x64/Debug/Engine.tlog/Lib.command.1.tlog
DoubleCheck/Engine/x64/Debug/Engine.tlog/Lib-link.write.1.tlog
DoubleCheck/Engine/x64/Debug/Engine.tlog/Lib-link.read.1.tlog
DoubleCheck/Engine/x64/Debug/Engine.tlog/Engine.lastbuildstate
DoubleCheck/Engine/x64/Debug/Engine.tlog/CL.write.1.tlog
DoubleCheck/Engine/x64/Debug/Engine.tlog/CL.read.1.tlog
DoubleCheck/Engine/x64/Debug/Engine.tlog/CL.command.1.tlog
DoubleCheck/Engine/x64/Debug/Engine.pdb
DoubleCheck/Engine/x64/Debug/Engine.obj
DoubleCheck/Engine/x64/Debug/Engine.log
DoubleCheck/Engine/x64/Debug/Engine.idb
DoubleCheck/Engine/x64/Debug/Component_Transform.obj
DoubleCheck/Engine/x64/Debug/Component_TopDownMovement.obj
DoubleCheck/Engine/x64/Debug/Component_Text.obj
DoubleCheck/Engine/x64/Debug/Component_Sprite.obj
DoubleCheck/Engine/x64/Debug/Component_Player.obj
DoubleCheck/Engine/x64/Debug/Component_Hpbar.obj
DoubleCheck/Engine/x64/Debug/Component_Enemy.obj
DoubleCheck/Engine/x64/Debug/Component_Collision.obj
DoubleCheck/Engine/x64/Debug/Color.obj
DoubleCheck/Engine/x64/Debug/CameraView.obj
DoubleCheck/Engine/x64/Debug/Camera.obj
DoubleCheck/Engine/x64/Debug/BitmapFont.obj
DoubleCheck/Engine/x64/Debug/Application.obj
DoubleCheck/Engine/Engine.vcxproj.user
DoubleCheck/DoubleCheck/x64/Debug/vc142.pdb
DoubleCheck/DoubleCheck/x64/Debug/vc142.idb
DoubleCheck/DoubleCheck/x64/Debug/Source.obj
DoubleCheck/DoubleCheck/x64/Debug/Level1.obj
DoubleCheck/DoubleCheck/x64/Debug/DoubleCheck.tlog/link.write.1.tlog
DoubleCheck/DoubleCheck/x64/Debug/DoubleCheck.tlog/link.read.1.tlog
DoubleCheck/DoubleCheck/x64/Debug/DoubleCheck.tlog/link.command.1.tlog
DoubleCheck/DoubleCheck/x64/Debug/DoubleCheck.tlog/DoubleCheck.lastbuildstate
DoubleCheck/DoubleCheck/x64/Debug/DoubleCheck.tlog/CL.write.1.tlog
DoubleCheck/DoubleCheck/x64/Debug/DoubleCheck.tlog/CL.read.1.tlog
DoubleCheck/DoubleCheck/x64/Debug/DoubleCheck.tlog/CL.command.1.tlog
DoubleCheck/DoubleCheck/x64/Debug/DoubleCheck.log
DoubleCheck/DoubleCheck/DoubleCheck.vcxproj.user
DoubleCheck/.vs/DoubleCheck/v16/ipch/AutoPCH/f9f35f85dff6725d/SOURCE.ipch
DoubleCheck/.vs/DoubleCheck/v16/ipch/AutoPCH/f27b435c63f753fe/COMPONENT_PLAYER.ipch
DoubleCheck/.vs/DoubleCheck/v16/ipch/AutoPCH/eed4b3e11b6a64b1/OBJECT_COMPONENT_INFO.ipch
DoubleCheck/.vs/DoubleCheck/v16/ipch/AutoPCH/ea61170c62e3f0b8/IMGUI_IMPL_GLFW.ipch
DoubleCheck/.vs/DoubleCheck/v16/ipch/AutoPCH/d63e88940bcf6fac/FILEMANAGER.ipch
DoubleCheck/.vs/DoubleCheck/v16/ipch/AutoPCH/cfb6af80e560aaef/LEVEL1.ipch
DoubleCheck/.vs/DoubleCheck/v16/ipch/AutoPCH/c00325876c07bb7e/GL.ipch
DoubleCheck/.vs/DoubleCheck/v16/ipch/AutoPCH/bed9dd7b0c28ec3f/APPLICATION.ipch
DoubleCheck/.vs/DoubleCheck/v16/ipch/AutoPCH/ba4b847be3dc88da/TEXTURE.ipch
DoubleCheck/.vs/DoubleCheck/v16/ipch/AutoPCH/aeda7e87168b240f/COMPONENT_TOPDOWNMOVEMENT.ipch
DoubleCheck/.vs/DoubleCheck/v16/ipch/AutoPCH/ae8ee700df766f15/IMGUI_DRAW.ipch
DoubleCheck/.vs/DoubleCheck/v16/ipch/AutoPCH/ac6faae2c74e1739/COMPONENT_TRANSFORM.ipch
DoubleCheck/.vs/DoubleCheck/v16/ipch/AutoPCH/a9e5eec19b29dffa/IMGUI_WIDGETS.ipch
DoubleCheck/.vs/DoubleCheck/v16/ipch/AutoPCH/a7be71dfec85b264/ATTRIBUTEINTERPOLATION.ipch
DoubleCheck/.vs/DoubleCheck/v16/ipch/AutoPCH/a6a95454f1ae026/PHYSICS.ipch
DoubleCheck/.vs/DoubleCheck/v16/ipch/AutoPCH/a5a80c9e8c6ae540/FILEMANAGER.ipch
DoubleCheck/.vs/DoubleCheck/v16/ipch/AutoPCH/9cbbd2d51ebc121b/ENGINE.ipch
DoubleCheck/.vs/DoubleCheck/v16/ipch/AutoPCH/9c658a12c2d0f707/COMPONENT_ENEMY.ipch
DoubleCheck/.vs/DoubleCheck/v16/ipch/AutoPCH/994568b3616b739e/IMGUI_IMPL_OPENGL3.ipch
DoubleCheck/.vs/DoubleCheck/v16/ipch/AutoPCH/7bb5d0cc3a60a7e2/IMGUI.ipch
DoubleCheck/.vs/DoubleCheck/v16/ipch/AutoPCH/742dcc09188d7dcc/COMPONENT_SPRITE.ipch
DoubleCheck/.vs/DoubleCheck/v16/ipch/AutoPCH/5b06c4ad7401b9c0/VECTOR2.ipch
DoubleCheck/.vs/DoubleCheck/v16/ipch/AutoPCH/585a8de783d2a54e/IMGUI_DEMO.ipch
DoubleCheck/.vs/DoubleCheck/v16/ipch/AutoPCH/49ec56300b9c32bb/GRAPHIC.ipch
DoubleCheck/.vs/DoubleCheck/v16/ipch/AutoPCH/48d71023bbb2fa03/COMPONENT_COLLISION.ipch
DoubleCheck/.vs/DoubleCheck/v16/ipch/AutoPCH/4032a21849a3591e/MESH.ipch
DoubleCheck/.vs/DoubleCheck/v16/ipch/AutoPCH/3e232cd8a298198/OBJECT.ipch
DoubleCheck/.vs/DoubleCheck/v16/ipch/AutoPCH/3cdeee23cd98437a/IMAGE.ipch
DoubleCheck/.vs/DoubleCheck/v16/ipch/AutoPCH/2cf943783e78eeb/MATRIX3.ipch
DoubleCheck/.vs/DoubleCheck/v16/ipch/AutoPCH/1ac2bae9ef07cc5a/SOUND_MANAGER.ipch
DoubleCheck/.vs/DoubleCheck/v16/ipch/AutoPCH/152dd70574fe8154/RESOURCEMANAGER.ipch
DoubleCheck/.vs/DoubleCheck/v16/ipch/AutoPCH/1413c2184e4d7983/OBJECTMANAGER.ipch
DoubleCheck/.vs/DoubleCheck/v16/ipch/AutoPCH/12df34b4c3d89b8f/ENGINE.ipch
DoubleCheck/.vs/DoubleCheck/v16/ipch/AutoPCH/10618ab8cf08096e/FILEMANAGER.ipch
DoubleCheck/.vs/DoubleCheck/v16/Solution.VC.db-wal
DoubleCheck/.vs/DoubleCheck/v16/Solution.VC.db-shm
DoubleCheck/.vs/DoubleCheck/v16/Solution.VC.db
DoubleCheck/.vs/DoubleCheck/v16/Browse.VC.opendb
DoubleCheck/.vs/DoubleCheck/v16/Browse.VC.db
DoubleCheck/.vs/DoubleCheck/v16/.suo
DoubleCheck/Math_lib/x64/Debug/Math_lib.vcxproj.FileListAbsolute.txt
DoubleCheck/Math_lib/x64/Debug/Math_lib.Build.CppClean.log
DoubleCheck/Engine/x64/Debug/Engine.Build.CppClean.log
DoubleCheck/DoubleCheck/x64/Debug/DoubleCheck.vcxproj.FileListAbsolute.txt
DoubleCheck/.vs/DoubleCheck/v16/ipch/AutoPCH/473339ea558ffe74/MESSAGE_MANANGER.ipch
DoubleCheck/Engine/x64/Debug/Messagebox.obj
DoubleCheck/Engine/x64/Debug/Engine.vcxproj.FileListAbsolute.txt
DoubleCheck/DoubleCheck/x64/Debug/DoubleCheck.Build.CppClean.log
DoubleCheck/.vs/DoubleCheck/v16/ipch/AutoPCH/c2cb9e0cbf5be78b/REFEREE.ipch
DoubleCheck/.vs/DoubleCheck/v16/ipch/AutoPCH/94a20ad86b0217ae/MESSAGE.ipch
DoubleCheck/.vs/DoubleCheck/v16/ipch/AutoPCH/8d8f99c464896366/COMPONENT_COLLISION.ipch
DoubleCheck/.vs/DoubleCheck/v16/ipch/AutoPCH/71550cd2d064447c/SHADER.ipch
DoubleCheck/.vs/DoubleCheck/v16/ipch/AutoPCH/564e1644ca95028e/REFEREE.ipch

DoubleCheck/x64/Debug/lib/

DoubleCheck/x64/Debug/inc/

DoubleCheck/x64/Debug/

DoubleCheck/Math_lib/x64/Debug/

DoubleCheck/external/dll/x86/

DoubleCheck/external/dll/x64/

DoubleCheck/Engine/x64/Debug/lib/

DoubleCheck/Engine/x64/Debug/inc/

DoubleCheck/Engine/x64/Debug/

*.obj

*.pdb

*.idb

DoubleCheck/DoubleCheck/x64/Debug/lib/

DoubleCheck/DoubleCheck/x64/Debug/inc/

DoubleCheck/DoubleCheck/x64/Debug/

*.ipch

*.db-wal

DoubleCheck/.vs/DoubleCheck/v15/

DoubleCheck/DoubleCheck/DoubleCheck.exe

*.exe
DoubleCheck/Math_lib/x64/Release/Math_lib.tlog/Math_lib.lastbuildstate
DoubleCheck/Math_lib/x64/Release/Math_lib.tlog/Lib.command.1.tlog
DoubleCheck/Math_lib/x64/Release/Math_lib.tlog/Lib-link.write.1.tlog
DoubleCheck/Engine/x64/Release/Engine.tlog/Lib.command.1.tlog
DoubleCheck/Engine/x64/Release/Engine.tlog/Lib-link.write.1.tlog
DoubleCheck/Engine/x64/Release/Engine.tlog/Lib-link.read.1.tlog
DoubleCheck/Engine/x64/Release/Engine.tlog/Engine.lastbuildstate
DoubleCheck/Engine/x64/Release/Engine.tlog/CL.write.1.tlog
DoubleCheck/Engine/x64/Release/Engine.tlog/CL.read.1.tlog
DoubleCheck/Engine/x64/Release/Engine.tlog/CL.command.1.tlog
DoubleCheck/Engine/x64/Release/Engine.log
DoubleCheck/DoubleCheck/x64/Release/DoubleCheck.tlog/DoubleCheck.write.1u.tlog
DoubleCheck/DoubleCheck/x64/Release/DoubleCheck.tlog/DoubleCheck.lastbuildstate
DoubleCheck/DoubleCheck/x64/Release/DoubleCheck.tlog/CL.write.1.tlog
DoubleCheck/DoubleCheck/Debug/DoubleCheck.log
DoubleCheck/Math_lib/x64/Release/Math_lib.tlog/Lib-link.read.1.tlog
DoubleCheck/Math_lib/x64/Release/Math_lib.tlog/CL.write.1.tlog
DoubleCheck/Math_lib/x64/Release/Math_lib.tlog/CL.read.1.tlog
DoubleCheck/Math_lib/x64/Release/Math_lib.tlog/CL.command.1.tlog
DoubleCheck/Math_lib/x64/Release/Math_lib.log
DoubleCheck/Math_lib/Debug/Math_lib.log
DoubleCheck/Engine/Debug/Engine.log
DoubleCheck/DoubleCheck/x64/Release/DoubleCheck.tlog/link.write.1.tlog
DoubleCheck/DoubleCheck/x64/Release/DoubleCheck.tlog/link.read.1.tlog
DoubleCheck/DoubleCheck/x64/Release/DoubleCheck.tlog/link.command.1.tlog
DoubleCheck/DoubleCheck/x64/Release/DoubleCheck.tlog/CL.read.1.tlog
DoubleCheck/DoubleCheck/x64/Release/DoubleCheck.tlog/CL.command.1.tlog
DoubleCheck/DoubleCheck/x64/Release/DoubleCheck.log
DoubleCheck/DoubleCheck/x64/Release/DoubleCheck.tlog/link.delete.1.tlog


DoubleCheck/DoubleCheck/Debug/DoubleCheck.tlog/unsuccessfulbuild

DoubleCheck/DoubleCheck/Debug/DoubleCheck.tlog/DoubleCheck.lastbuildstate

DoubleCheck/DoubleCheck/Debug/DoubleCheck.tlog/CL.write.1.tlog

DoubleCheck/DoubleCheck/Debug/DoubleCheck.tlog/CL.read.1.tlog

DoubleCheck/DoubleCheck/Debug/DoubleCheck.tlog/CL.command.1.tlog

DoubleCheck/DoubleCheck/x64/Release/DoubleCheck.tlog/unsuccessfulbuild
DoubleCheck/x64/Release/DoubleCheck.iobj
DoubleCheck/x64/Release/DoubleCheck.ipdb
DoubleCheck/x64/Release/Engine.lib

DoubleCheck/x64/Release/DoubleCheck.ipdb

DoubleCheck/x64/Release/Engine.lib

DoubleCheck/x64/Release/DoubleCheck.iobj

*.lib

*.ipdb

*.iobj

DoubleCheck/Engine/x64/Release/Engine.tlog/unsuccessfulbuild

*.txt

*.log
